





.text_page{
color: white;
}

.img{
    width: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titre{
    text-align: center;
}

.box{

    display: flex;
    justify-content: space-between;
}

.boutton_main{
    width: 300px;
    border-radius: 50%;
    height: 300px;
    color: white;
    outline: 0;
}


#boutton_p1{
    background-color: blue;
    border-color: blue;
    animation: 3s linear 1s infinite running slidein;
}

#boutton_p2{
    background-color: red;
    border-color: red;
    }

#boutton_p3{
    background-color: green;
    border-color: green;
    }

#boutton_p4{
    background-color: violet;
    border-color: violet;
    }

body{
    color: white;
    background-color: rgb(36, 39, 48);
}

header{
    display: flex;
    justify-content: space-between;
}
